---
import Hero from '@components/Hero.astro'
import LatestWeekly from '@components/LatestWeekly.astro'
import WeeklyCard from '@components/WeeklyCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { fetchWeekly } from '@utils/weekly'
import { SITE } from 'config'

const weeklies = await fetchWeekly()
---

<BaseLayout title={SITE.title}>
  <div class="relative">
    <Hero />  
    <LatestWeekly />

    <div class="space-y-2">
      { weeklies.map(weekly => (
        <WeeklyCard { ...weekly } />
      )) }
    </div>
  </div>
</BaseLayout>
