---

---

<div class="fixed inset-0 -z-50">
  <div class="absolute inset-0 bg-[linear-gradient(to_right,#80808008_1px,transparent_1px),linear-gradient(to_bottom,#80808008_1px,transparent_1px)] bg-[size:24px_24px]"></div>
  <div class="absolute left-0 right-0 top-0 -z-50 m-auto h-[310px] w-[310px] rounded-full bg-blue-400 opacity-5 blur-[100px]"></div>
  <div class="absolute left-60 right-0 top-0 -z-50 m-auto h-[310px] w-[310px] rounded-full bg-purple-400 opacity-5 blur-[100px]"></div>
</div>
